/.vscode
/arquivo.ipynb
/Blocos e Indentação - If dentro de If - AulaBlocosEIndentaçãoIfDentroDeIf (1).py
/Blocos e Indentação - If dentro de If - AulaBlocosEIndentaçãoIfDentroDeIf (2).py
/Blocos e Indentação - If dentro de If - AulaBlocosEIndentaçãoIfDentroDeIf.py
/codigo.ipynb
/codigo.py
/COMANDO FORMAT
/CORTES DE STRING
/ESTRUTURA DO IF
/EXERCICIOS 01 MODULOS VARIAVEIS
/Exercícios If - Parte 1 - AulaExercíciosIfParte1 (1).ipynb
/Exercícios If - Parte 1 - AulaExercíciosIfParte1.ipynb
/Exercícios If - Parte 1 - AulaExercíciosIfParte1.py
/Exercícios If - Parte 1 - AulaExercíciosIfParte1Gabarito.ipynb
/FORMATAÇÃO DE NUMEROS
/FSTRING E MUDANÇAS DE VARIAVEIS
/LISTAS ADICIONAR E REMOVER DA LISTA
/METODOS DE STRING FORMULAS DE TEXTO
/MISTURANDO TIPOS DE VARIÁVEIS
/OPERAÇÕES COM STRING
/projeto
/Seu 1º Projeto Python - Automação + Análise de Dados - Gabarito.ipynb
/Seu 1º Projeto Python - Automação + Análise de Dados - Inicial 13-07.ipynb
/Seu 1º Projeto Python - Automação + Análise de Dados - Inicial.ipynb
/TAMANHO DA LISTA MAIOR E MENOR VALOR
/TIPOS DE VARIAVEIS